@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home__page{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 50px;
}

.rando__stuff{
    height: 2000px;
    width: 200px;
}

.home__page__content{
    height: max-content;
    width: 100%;
    background-image: url("http://cdn.shopify.com/s/files/1/0250/5422/files/ios_linen_texture___black_by_vegardhw-d3ddll5_copy.jpg?2614");
    background-repeat: repeat-y;
    color: white;
    z-index: 2;
    position: absolute;
    margin-top: 500px;
    display: flex;
    justify-content: center;
}

.inner__stuff{
    height: fit-content;
    color: rgb(255, 255, 255);
    padding: 50px;
    font-size: 25px;
    background-color: rgb(49, 49, 49);
    border-radius: 7px;
    margin-top: 10px;
}

.slideshow__component{
    position: absolute;
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-areas:
    "phone phone phone"
    ". message ."
    ". contact ."
    "leftA array rightA";
    /* overflow: hidden; */
    background-color: rgba(255, 255, 255, 0);
}


.slide__array{
    grid-area: array;
    position: absolute;
    z-index: 4;
    justify-self: center;
}

.fa-circle{
    color: white;
    font-size: 20px;
}
.fa-circle:hover{
    color: rgb(163, 161, 161);
}

.slide__image{
    position: fixed;
    /* display: block; */
    /* margin: 0 auto; */
    z-index: 1;
    width: 100%;
    height: 500px;
}

.slide__phone{
    grid-area: phone;
    text-align: center;
    z-index: 3;
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.245);
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 100;
}

.slide__message{
    grid-area: message;
    text-shadow: black 1px 0 10px;
    font-family: 'Permanent Marker', serif;
    text-align: center;
    z-index: 3;
    color: white;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    font-size: 45px;
    font-weight: bold;

}

.slide__contact{
    grid-area: contact;
    text-align: center;
    z-index: 3;
    color: white;
    background-color: cornflowerblue;
    height: fit-content;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 6px;
    margin: 0 auto;
    transition: all .2s ease-in-out;
}

.slide__contact:hover{
    background-color: rgb(68, 101, 161);
    transform: scale(1.1);

}

.slide__image[fadeinto='1']{
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

.slide__arrow{
    color: white;
    z-index: 3;
    font-size: 23px;
}
.slide__arrow:hover{
    color: rgb(203, 203, 203);
}

.left__arrow{
    grid-area: leftA;
    justify-self: end;

}

.right__arrow{
    grid-area: rightA;
    justify-self: start;
}

.slideshow__overlay{
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.307);

}

.authslide:hover .slideshow__overlay{
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.416);
}

/* EMBEDDED COMPONENT */
.embedded__controls{
    background-color: cornflowerblue;
}
.fa-code{
    color: white;
}

.fa-code:hover{
    color: rgb(205, 205, 205);
}
