.calendar__component{
    height: 100%;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.calendar__page{
    display: grid;
    height: fit-content;
    width: 1130px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(37, 37, 37);
}


.calendar__day{
    height: 100px;
    /* width: 160px; */
    border: 1px solid #f4f4f425;
    color: white;
    font-size: 16px;
    /* overflow: scroll; */
    /* display: flex; */
    /* justify-content: end; */
}
.calendar__day > p{
    right: 5px;
}
.today__date > p{
    display: flex;
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.calendar__month{
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 1130px;
    font-size: 30px;
    color: white;
    align-items: end;
    margin-top: 35px;
}

.calendar__month > .month{
    font-weight: bold;
    margin-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;


}
.calendar__month > .year{
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.calendar__month > .title{
    position: absolute;
    color: white;
    font-family: 'Bebas Neue', serif;
    font-size: 50px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    border-bottom: 2px solid red;
}

.calendar__week{
    width: 1130px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: white;
    height: 40px;
}
.calendar__week > p{
    /* border: 1px solid #f4f4f425; */
    width: auto;
}
